    - name: Compile the firmware
      id: compile
      run: |
        cd openwrt
        # 1. 先解压并应用官方补丁 (此时不会报错，因为 Makefile 是完整的)
        make target/linux/prepare V=s
        
        # 2. 暴力注入延时补丁 (解决网卡识别超时)
        find build_dir/ -name "pcie-rockchip-host.c" | xargs -r sed -i 's/msleep(100)/msleep(1000)/g'
        find build_dir/ -name "pcie-rockchip-host.c" | xargs -r sed -i 's/RETRY_COUNT 10/RETRY_COUNT 100/g'
        
        # 3. 开始编译
        make -j$(nproc) || make -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT
